
/*  nav  */

nav {
    padding-top: 30px;
    display: block;
    height: 100px;
}

nav h5 {
    position: absolute;
    top: 40px;
    left: 160px;
    font-weight: 500;
}
nav button {
    display: inline-block;
    position: absolute;
    font-size: 1.5em;
    border-radius: 16px;
    border: 3px solid var(--main1-green);
    right: 150px;
    top: 35px;
    width: 150px;
    height: 60px;
    transition: .3s ease;
    background-color: var(--background);
    color: var(--white);
}

nav button:hover{
    background-color: var(--main1-green);
    cursor: grab;
}


/*  main  */
#div1{
    width: 100%;
    height: 16px;
}

main{
    display: flex;
    justify-content: center;
    height: 82vh;
} 

.mainIcon {
    height: 70px;
    width: 70px;
    margin-right: 20px;
}

.mainContainer{
    position: relative;
    top: 60px;
    min-width: 350px;
    margin: 0 60px;
}

#portrait {
    margin: 0 60px;
    display: inline-block;
    position: relative;
    top: 30px;
    height: 500px;
    max-width: 500px;
    border-radius: 250px;
    border: 10px solid var(--main1-green);
}

.mainContainer h1{
    color: var(--main1-green);
    margin-bottom: 15px;
}

.mainContainer h2{
    margin-top: 20px;
}

.mainContainer h3{
    display: inline-block;
    margin-left: 45px;
    color: var(--main1-green);
    margin-bottom: 30px;
    text-decoration: underline;
}

.mainContainer span {
    display: inline-block;
    color: var(--main2-purple);
    font-size: 2.5em;
    margin-left: 5px;
    margin-bottom: 30px;
}

.mainContainer h4{
    width: 80%;
    margin: auto;
}

#typer {
    color: var(--main2-purple);
    font-weight: 500;
}

.mainContainer progress{
    width: 100%;
    height: 50px;
    color: var(--main1-green);
}

.mainContainer .titleLineContainer{
    border-radius: 15px;
    height: 30px;
    width: 100%;
    background-color: var(--highlight);
}

.mainContainer .titleLine{
    border-radius: 15px;
    height: 100%;
    width: 70%;

}

/*  About  */

section#about {
    height: 750px;
    background-color: var(--white);
}

section#about h1{
    font-weight: 500;
    padding-top: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
    color: var(--main2-purple)
}

.aboutContainer{
    display: inline-block;
    max-width: 50%;
    margin-left: 8%;
}

.aboutContainer p{
    line-height: 40px;
    font-size: 1.4em;
    padding: 25px;
    color: var(--background);
    max-width: 100%;
}

.aboutContainer p span{
    font-weight: 500;
    color: var(--main2-purple);
}

.aboutContainer p a{
    font-weight: 500;
    color: var(--main2-purple);
    text-decoration: none;
    transition: .3s ease;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid var(--main2-purple);
}

.aboutContainer p a:hover{
    background-color: var(--main2-purple);
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}

#svgAbout{
    display: block;
    margin: auto;
    padding-right: 250px;
    height: 150px;
    width: 150px;
}

section#about img{ 
    position: relative;
    top: 40px;
    height: 350px;
    width: auto;
    border-radius: 15px;
    margin: 15px;
    border: 8px solid var(--main2-purple);
}

/* Portfolio */
#portfolio{
    min-height: 750px;
}

#portfolio h1{
    font-weight: 500;
    padding-top: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
    color: var(--main1-green);
}

#portfolio .content{
    margin: 35px auto 10px auto;
    display: flex;
    justify-content: center;
    width: 80%;
    min-width: 50%;
}

#portfolio .content .card{
    display: block;
    margin: 0 25px;
    height: 350px;
    width: 300px;
    background-color: var(--highlight);
    border-radius: 10px;
    border: 8px solid linear-gradient(90deg, var(--main1-green), var(--main2-purple));
    transition: .3s ease;
}

#portfolio .content .card:hover{
    box-shadow: 12px 12px 8px 1px var(--main2-purple);
    margin: 0 35px 0 15px;
    cursor: pointer;
}


/* Resume */

.resume{
    height: 750px;
    background-color: var(--white);
}

.resume h1{
    font-weight: 500;
    padding-top: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
    color: var(--main2-purple)
}

.resume .content{
    display: block;
}
